*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# TensorSeal Generated Artifacts
app/src/main/assets/*.lock
app/src/main/cpp/SecretKey.h

# --- Factory Artifacts ---
output/
dist/
staging_temp/
*.zip
*.lock
app/src/main/assets/dummy.tflite
